<div class="info-container">
    <img src="man-doc.png" alt="Доктор" />
  
    <div class="details">
      <h2><span>ЛОР</span> АНДРІЙ АНДРІЙОВИЧ МАТВІЄНКО</h2>
  
      <p><strong>СТАЖ:</strong> 20 РОКІВ</p>
      <p><strong>ВІК:</strong> 45 РОКІВ</p>
      <p><strong>ОСВІТА:</strong> ЧЕРВОНОГРАДСЬКИЙ ГІРНИЧО-БУДІВЕЛЬНИЙ УНІВЕРСИТЕТ</p>
  
      <p><strong>БІОГРАФІЯ:</strong></p>
      <p class="bio">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
      </p>
    </div>
  </div>