<div class="info-container">
    <img src="man-doc.png" alt="Доктор" />
  
    <div class="details">
      <h2><span>{{doctor?.doctorClass?.className}}</span>{{doctor?.firstName}} {{doctor?.lastName}}</h2>
  
      <p><strong>СТАЖ: </strong>{{doctor?.experienceInYear}} років</p>
      <p><strong>ВІК: </strong>{{doctor?.age}} років</p>
      <p><strong>ОСВІТА: </strong>{{doctor?.degree}}</p>
  
      <p><strong>БІОГРАФІЯ:</strong></p>
      <p class="bio">
        {{doctor?.biography}}
      </p>
    </div>
  </div>