<header class="main-header">
    <div class="header-content wide-content">
        <div class="logo actor-regular">
            REABILIT.ME
        </div>
        <nav>
            <ul>
                <li [routerLink]="['']" class="nav-link">Головна</li>
                <li [routerLink]="['events']" class="nav-link">Мої записи</li>
                <li [routerLink]="['my-doctor']" class="nav-link">Мій лікар</li>
                <li class="section__login_button">
                    <div>N</div>
                    <p [routerLink]="['my-profile']" class="login_button">Увійти</p>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="box"></div>