<header class="main-header">
    <div class="header-content content">
        <div class="logo actor-regular">
            REABILIT.ME
        </div>
        <nav>
            <ul>
                <li class="nav-link">Головна</li>
                <li class="nav-link">Мої записи</li>
                <li class="nav-link">Мій лікар</li>
                <li class="section__login_button">
                    <div>N</div>
                    <p class="login_button">Увійти</p>
                </li>
            </ul>
        </nav>
    </div>
</header>