.main-header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #fff;
    filter: drop-shadow(0px 2px 5px #3d3d3d);

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .logo {
            font-size: 24px;
        }

        nav {
            width: 50%;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav-link {
                    cursor: pointer;
                }

                li {
                    font-size: 16px;
                }

                .section__login_button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 15%;

                    .login_button {
                        cursor: pointer;
                        text-transform: uppercase;
                        border: 1px solid #000;
                        border-radius: 5px;
                        padding: 10px;
                        transition: .5s;
                    }

                    .login_button:hover {
                        background-color: rgb(169, 196, 255);
                        transition: .5s;
                    }
                }
            }
        }
    }
}

.box {
    height: 50px;
    width: 100%;
}