<div class="profile-wrapper">
    <h2 class="title">УСІ ЛІКАРІ</h2>
  
    <div class="search-container">
      <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" placeholder="Пошук..." />
    </div>

    <div class="doctors-table">
      <div class="table-header">
        <span>Ім’я</span>
        <span>Прізвище</span>
        <span>Вік</span>
        <span>Телефон</span>
        <span>Ступінь</span>
        <span>Досвід</span>
        <span>Клас</span>
      </div>
  
      <div class="table-row" *ngFor="let doctor of doctors">
        <span>{{ doctor.firstName }}</span>
        <span>{{ doctor.lastName }}</span>
        <span>{{ doctor.age }}</span>
        <span>{{ doctor.phoneNumber }}</span>
        <span>{{ doctor.degree }}</span>
        <span>{{ doctor.experienceInYear }} років</span>
        <span>{{ doctor.doctorClass.className }}</span>
      </div>
    </div>
  </div>
  