<div class="card">
    <div class="card-left">
      <img src="man-doc.png" alt="Doctor photo" />
      <div class="buttons">
        <button class="btn green">ПЕРЕНЕСТИ</button>
        <button class="btn red" (click)="onCancel()">СКАСУВАТИ</button>
      </div>
    </div>
  
    <div class="card-content">
      <div class="doctor-name">{{event?.doctor?.doctorClass?.className}} {{event?.doctor?.firstName}} {{event?.doctor?.lastName}}</div>
      <div class="description">{{event?.doctor?.biography}}</div>
  
      <div class="card-header">
        <ng-container *ngIf="event">
          <span 
            [ngClass]="event.status == 0 ? 'scheduled' : 
            (event.status == 1 ? 'canceled' : 'completed')" 
            class="status">
            {{ProcedureEventStatusUkr[event.status]}}
          </span>
          <span class="date-time">{{formatUADateTime(event!.startsOn)}}</span>
        </ng-container>
      </div>
  
      <div class="purpose">{{event?.title}}</div>
      <div class="details">{{event?.description}}</div>
    </div>
  </div>
  