<div class="card">
    <div class="card-left">
      <img src="man-doc.png" alt="Doctor photo" />
      <div class="buttons">
        <button class="btn green">ПЕРЕНЕСТИ</button>
        <button class="btn red">СКАСУВАТИ</button>
      </div>
    </div>
  
    <div class="card-content">
      <div class="doctor-name">лор АНДРІЙ АНДРІЙОВИЧ</div>
      <div class="description">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
      </div>
  
      <div class="card-header">
        <span class="status scheduled">ЗАПЛАНОВАНО</span>
        <span class="date-time">25.04.2025 16:00 - 16:30</span>
      </div>
  
      <div class="purpose">ПЕРЕВІРКА ОРГАНІЗМУ</div>
      <div class="details">
        ПЕРЕВІРКА У ЛОРа ЗАЗВИЧАЙ ВКЛЮЧАЄ ОГЛЯД ВУХ, НОСА ТА ГОРЛА...
      </div>
    </div>
  </div>
  