<div class="doctor-card">
    <div class="doctor-image">
        <img src="man-doc.png" alt="Фото лікаря">
    </div>
    <div class="doctor-info">
        <h3 class="doctor-name">Андрій Андрійович</h3>
        <p class="doctor-degree">Національний університет Львівська Лісотехніка</p>
        <p class="doctor-class">ОНКОЛОГ</p>
        <p class="doctor-experience">Стаж: 11 років</p>
        <p class="doctor-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Praesentium molestiae totam laudantium ut labore rerum quaerat facere vel, 
            non, doloribus, ipsum temporibus eum in. Recusandae laborum nisi nam quos molestias?</p>
    </div>
</div>