<div class="search-bar">
    <input type="text" placeholder="Пошук лікаря..." [(ngModel)]="searchTerm" (input)="onSearchInput()" />
  </div>
  
  <div class="doctor-list-container default-content">
    <ng-container *ngIf="filteredDoctors.length > 0; else emptyList">
      @for (doctor of filteredDoctors; track doctor) {
        <app-doctor-card [doctor]="doctor"></app-doctor-card>
      }
    </ng-container>
  
    <ng-template #emptyList>
      <div class="empty-list">
        Список лікарів порожній.
      </div>
    </ng-template>
  </div>
  