<div class="profile-wrapper">
    <h2 class="title">МІЙ ПРОФІЛЬ</h2>
  
    <div class="profile-container">
      <form [formGroup]="patientInfoForm" class="form-section">
        <label>
          Ваше ім’я
          <input formControlName="firstName" type="text" placeholder="Ім’я" />
        </label>
        <label>
          Ваше прізвище
          <input formControlName="lastName" type="text" placeholder="Прізвище" />
        </label>
        <label>
          Ваш номер телефону
          <input formControlName="phoneNumber" type="tel" placeholder="Номер телефону" />
        </label>
        <label>
          Ваш вік
          <input formControlName="age" type="number" placeholder="Вік" />
        </label>
        <label>
          Ваше місто
          <select formControlName="cityId">
            <option *ngFor="let city of cities" [ngValue]="city.id">
              {{ city.cityName }}
            </option>
          </select>
        </label>

        <div class="button-row">
          <button class="btn save" (click)="onSubmit()">Зберегти</button>
          <button class="btn exit" (click)="onExit()">Вихід</button>
        </div>
      </form>
  
      <div class="doctor-section">
        <p class="section-title">Ваш лікуючий лікар</p>
        @if(patient?.doctorId) {
          <p class="doctor-name">{{patient?.doctor?.firstName}} {{patient?.doctor?.lastName}}</p>
          <p class="doctor-type">{{patient?.doctor?.doctorClass?.className}}</p>
    
          <div class="button-group">
            <button class="btn danger" (click)="openReportModal()">СКАРГА</button>
            <button class="btn warning" (click)="askForChange()">ЗАПИТ НА ЗАМІНУ</button>
            <button [routerLink]="['/my-doctor']" class="btn success">ЗАПИС НА ПРИЙОМ</button>
          </div>
        } @else {
          <p>Поки що вам не призначено лікаря</p>
        }
      </div>
    </div>
  </div>
  

<div *ngIf="isReportModalOpen" class="modal-overlay">
  <div class="modal-content">
    <h3>Напишіть вашу скаргу</h3>
    <textarea [(ngModel)]="reportText" placeholder="Опишіть вашу скаргу"></textarea>
    <div class="modal-buttons">
      <button (click)="submitReport()">Відправити</button>
      <button (click)="closeReportModal()">Закрити</button>
    </div>
  </div>
</div>