<div class="modal-content">
  <h2 class="modal-title">{{ isLoginMode ? 'Вхід' : 'Реєстрація' }}</h2>

  <form *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <label for="phoneNumber">Номер телефону</label>
      <input type="tel" id="phoneNumber" formControlName="phoneNumber" placeholder="+380XXXXXXXXX">
      <div *ngIf="loginForm.get('phoneNumber')?.touched && loginForm.get('phoneNumber')?.invalid" class="error">
        Введіть правильний номер телефону
      </div>
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" id="password" formControlName="password" placeholder="Введіть пароль">
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error">
        Пароль має бути не менше 6 символів
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="login-button" [disabled]="loginForm.invalid">Увійти</button>
      <button type="button" class="close-button" (click)="toggleMode()">Не маю акаунту</button>
      <button type="button" class="close-button" (click)="hideLoginModal()">Скасувати</button>
    </div>
  </form>

  <form *ngIf="!isLoginMode" [formGroup]="registerForm" (ngSubmit)="onRegister()" class="login-form">
    <div class="form-group">
      <label for="firstName">Ім’я</label>
      <input type="text" id="firstName" formControlName="firstName" placeholder="Ваше ім’я">
    </div>

    <div class="form-group">
      <label for="lastName">Прізвище</label>
      <input type="text" id="lastName" formControlName="lastName" placeholder="Ваше прізвище">
    </div>

    <div class="form-group">
      <label for="age">Вік</label>
      <input type="number" id="age" formControlName="age" placeholder="Ваш вік">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Номер телефону</label>
      <input type="tel" id="phoneNumber" formControlName="phoneNumber" placeholder="+380XXXXXXXXX">
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" id="password" formControlName="password" placeholder="Пароль">
    </div>

    <div class="form-group">
      <label for="cityId">Місто</label>
      <select id="cityId" formControlName="cityId">
        <option value="">Оберіть місто</option>
        <option *ngFor="let city of cities" [value]="city.id">{{ city.cityName }}</option>
      </select>
    </div>

    <div class="form-actions">
      <button type="submit" class="login-button" [disabled]="registerForm.invalid">Зареєструватися</button>
      <button type="button" class="close-button" (click)="toggleMode()">Маю акаунт</button>
      <button type="button" class="close-button" (click)="hideLoginModal()">Скасувати</button>
    </div>
  </form>

</div>
<div class="modal-overlay" (click)="hideLoginModal()"></div>