<div class="search-section">
  <h1 class="title">Шукайте лікарів та ліки онлайн</h1>

  <div class="search-container">
    <input type="text" placeholder="Введіть прізвище, або спеціальність лікаря" />
    <button>🔍 Пошук</button>
  </div>

  <div class="content">
    <div class="image-placeholder"></div>
    <div class="description">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
      laudantium Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium Sed ut perspiciatis unde omnis iste natus error sit
      voluptatem accusantium doloremque laudantium...
    </div>
  </div>
</div>

<div class="analyzes-section default-content">
  <h3>Ваші показники</h3>
  <div class="analyzes">
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
  </div>
</div>

<app-question-box></app-question-box>
