<div class="search-section">
  <h1 class="title">Шукайте лікарів та ліки онлайн</h1>

  <div class="search-container">
    <input type="text" placeholder="Введіть прізвище, або спеціальність лікаря" />
    <button [routerLink]="['doctors-list']">🔍 Пошук</button>
  </div>

  <div class="content" *ngIf="currentBanner">
    <div class="image-placeholder">
      <img [src]="currentBanner.imagePath" [alt]="currentBanner.imageName" />
    </div>
    <div class="description">
      {{ currentBanner.description }}
    </div>
  </div>
  
</div>

<div class="analyzes-section default-content">
  <h3>Ваші показники</h3>
  <div class="analyzes">
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
    <app-analyze-card></app-analyze-card>
  </div>
</div>

<app-question-box></app-question-box>
