<div class="doctor-procedure-list default-content">
    <div class="procedure-card" *ngFor="let item of procedureEvents">
      <div class="card-content">
        <img src="patient.png" class="avatar" />
  
        <div class="info">
          <h3>Пацієнт {{ item.patient?.firstName }} {{ item.patient?.lastName }}</h3>
          <div class="status-time">
            <span class="status" [ngClass]="{
                planned: item.status === 0,
                cancelled: item.status === 1,
                finished: item.status === 2
              }">
              {{
                item.status === 0 ? 'Заплановано' :
                item.status === 1 ? 'Скасовано' :
                'Завершено'
              }}
            </span>
            <span class="datetime">{{ formatUADateTime(item.startsOn) }}</span>
          </div>
  
          <h4>{{ item.title }}</h4>
          <p>{{ item.description }}</p>
        </div>
  
        <div class="actions" *ngIf="item.status == 2">
          <button class="green" *ngIf="item.result != null" (click)="openModal(item)"><mat-icon>border_color</mat-icon></button>
          <button class="blue" *ngIf="item.result == null" (click)="openModal(item)"><mat-icon>mode_edit</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
  

  <div class="modal-overlay" *ngIf="activeProcedure" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <h2 class="modal-title">Інформація про процедуру</h2>

    <div class="modal-section" *ngIf="!activeProcedure.result">
      <label for="examination">🩺 Результат огляду</label>
      <textarea id="examination" [(ngModel)]="examinationResult" placeholder="Опишіть результат огляду..."></textarea>
      <button class="send-btn" (click)="sendExaminationResult()">Надіслати результат</button>
    </div>

    <div class="modal-section">
      <label for="advice">💊 Порада в лікуванні</label>
      <textarea id="advice" [(ngModel)]="treatmentAdvice" placeholder="Вкажіть рекомендації..."></textarea>
      <button class="send-btn" (click)="sendTreatmentAdvice()">Надіслати пораду</button>
    </div>

    <button class="close-btn" (click)="closeModal()">Закрити</button>
  </div>
</div>