<div class="schedule">
    <h3>ЗАПИС НА ПРИЙОМ</h3>
  
    <div class="days-grid">
      @for (day of docWeekSchedule; track day) {
        <div class="day">
          <h4>{{ weekDates[day.day] }}</h4>
          @if(day.slots.length > 0) {
            <div class="times">
              @for (time of day.slots; track time) {
                <button [ngClass]="time.isAvailable ? 'active' : 'inactive'" (click)="reserveSlot(getFullDateTime(day.day, time.time))">{{ time.time }}</button>
              }
            </div>
          } @else {
            <p class="absent">Лікар не приймає</p>
          }
        </div>
      }
    </div>
  </div>
  