.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modal-window {
    background: #fff;
    padding: 25px 20px;
    border-radius: 12px;
    text-align: center;
    max-width: 350px;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

    p {
      margin-bottom: 20px;
      font-size: 16px;
    }

    .modal-actions {
      display: flex;
      justify-content: space-around;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.2s ease;
      }

      .confirm-btn {
        background: #00aaff;
        color: #fff;

        &:hover {
          background: #008fcc;
        }
      }

      .cancel-btn {
        background: #e0e0e0;

        &:hover {
          background: #c7c7c7;
        }
      }
    }
  }
}


.schedule {
    h3 {
      text-align: center;
      margin-bottom: 30px;
    }
  
    .days-grid {
      column-count: 4;
      column-gap: 20px;

      .inactive-day {
        background-color: #d6d6d6;
        opacity: .6;
      }
    }
    
    .day {
      break-inside: avoid;
      margin-bottom: 20px;
      background: #e4e4e4;
      border-radius: 10px;
      padding: 15px;
  
      h4 {
        font-size: 16px;
        margin-bottom: 10px;
      }
  
      .times {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
      
        button {
          padding: 8px;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          transition: background 0.2s;
          width: 100%; // кнопка займає всю ширину своєї колонки
        }
      }
    }
  }
  

  .active {
    background: #00aaff;
    cursor: pointer;
    color: white;
  }
  .active:hover {
    background: #008fcc;
  }

  .inactive {
    background: #9ec4ce;
    color: #000;
    opacity: .5;
  }

  .absent {
    text-transform: uppercase;
    color: #919191;
    font-size: 16px;
    text-align: center;
  }